<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Fahad Hameed/IdeaProjects/HR_Blizz">
        <classes>
        <class name="TestCasesPakage.LoginAsEmployee"></class>
          <class name="TestCasesPakage.RequestEmployeeLeave"></class>
            <class name="TestCasesPakage.LoginAsManager"></class>
            <class name="TestCasesPakage.ApprovalOfleaves"></class>



    </classes>
    </test>
</suite>